# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Config files
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf

# Docker
Dockerfile text eol=lf
